
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Vichod</title>

</head>

<body>
    <!-- <header>
        <form action="/">
        <button type = 'submit'>Home</button>
        </form>
        <h1 class='vichod'>Vichod</h1>
        <hr>
    </header> -->
    <h3>You dont have the permissions to access admin panel</h3>
    <h1 class='dash'>DASHBOARD</h1>
    <br>
    <br>
    <a href="/logout">logout</a>
    <br>
    <br>
    <a href="/dashboard/otherpage1">other page 1</a>
    <br>
    <br>
    <a href="/dashboard/otherpage2">other page 2</a>
    <br>
    <br>
    <a href='/admin'>Admin Route For seeing the DB</a>
</body>

</html>