<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Please Login with a valid email</p>
    <form method="post" action="/login">
        <input name='email' type="email" placeholder="email">
        <input name='password' type="password" placeholder="password">
        <button type="submit" style="background-color: grey;">Login</button>
</body>
</html>