.reg{
background-image: url('../imgs/beige-and-black-chair-in-front-of-white-desk-509922 (5).jpg');
      background-size:contain;
      background-attachment: fixed;
      background-position: center;
  text-align: center;
}
.reg1{
    background-image: url('../imgs/beige-and-black-chair-in-front-of-white-desk-509922 (5).jpg');
      background-size:contain;
      background-attachment: fixed;
      background-position: center;
  text-align: center;
    }
input{
    width : 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}